<h3>QuizCapturingComponent</h3>

@{ if (QuizDefinitionDto != null)
    {
        <label>@(QuizDefinitionDto.QuizName)</label>
        <InputCheckbox></InputCheckbox>
        <label>Hi</label>
        foreach (var question in QuizDefinitionDto.Questions)
        {
            <label>@question.QuestionText</label>
            foreach (var answer in question.Answers)
            {
                ConcreteAnswerDto adto = new ConcreteAnswerDto();
                adto.ReferencesTo = answer;
                Answers.Add(adto);

                <label>@(answer.AnswerText)</label>

                <InputCheckbox @bind-Value="adto.SelectedAnswer"></InputCheckbox>
            }
        }
    }
}


@code {
    private List<ConcreteAnswerDto> Answers { get; set; } = new List<ConcreteAnswerDto>();

    AnswerDefinitionDto AnswerDefinitionDto { get; set; }

    [Parameter]
    public QuizDefinitionDto QuizDefinitionDto { get; set; }

    public void Auswerten()
    {
        int correctAnswers = 0;
        int falseAnswers = 0;
        foreach (var a in Answers)
        {
            if (a.ReferencesTo.IsCorrectAnswer && a.SelectedAnswer)
            {
                correctAnswers++;
            }
            else
            {
                falseAnswers++;
            }
        }
    }
}


