@page "/"
@using SEIIApp.Client.Shared.Components
@using SEIIApp.Client.Shared.Models.Posting
<h2 style="margin-bottom: 80px; margin-top: 30px">News</h2>
<News Post="Post"></News>
<div style="margin-bottom: 120px"></div>
<h2 style="margin-bottom: 30px; margin-top: 50px">Your Watchlist</h2>
<PostPreviewBar RowCount="1"></PostPreviewBar>
<h2 style="margin-bottom: 30px; margin-top: 50px">Recomendations</h2>
<PostPreviewBar RowCount="3"></PostPreviewBar>

@code{
    public PostPreview PostPreview = new PostPreview();
    public Post Post = new Essay("Die Operation");
}