@page "/"
@using SEIIApp.Shared.ContentDto
@using SEIIApp.Client.Shared.Components

@using SEIIApp.Client.Shared.Models.Posting

<h2 style="margin-bottom: 80px; margin-top: 30px">News</h2>
<News Content="Paper"></News>
<div style="margin-bottom: 120px"></div>
<h2 style="margin-bottom: 30px; margin-top: 50px">Your List</h2>
<PostPreviewBar RowCount="1"></PostPreviewBar>
<h2 style="margin-bottom: 30px; margin-top: 50px">Recomendations</h2>
<PostPreviewBar RowCount="3"></PostPreviewBar>

@code{
    public ContentPreview ContentPreview = new ContentPreview();
    public Paper Paper = new Paper("Test");
}