.topNav[b-7a5wcp13w1] {
    overflow: hidden;
    background-color: #2f3540;
    padding-right: 40px;
    padding-left: 70px;
    position: relative;
    height: 80px;
    text-align: center;
}

.topNav[b-7a5wcp13w1]:after {
    visibility:hidden; display:block; content:"" ; clear:both; height:0px;
}

#logoDark[b-7a5wcp13w1] {
    float: left;
    width: 140px;
    padding-top: 12px;
    margin-right: 40px;
    
}

.searchbarContainer[b-7a5wcp13w1] {
    float: left;
    margin: 25px;
}

.topNavLinks[b-7a5wcp13w1] {
    float: right;
    height: 80px;
}

#accountCircle[b-7a5wcp13w1] {
    float: right;
    width: 50px;
    margin-top: 15px;
    margin-left: 40px;
}

.topNav a[b-7a5wcp13w1] {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 80px;
    margin: auto;
}

.topNav a:hover[b-7a5wcp13w1] {
    background-color: #1aba9f;
    color: black;
}

.searchbar[b-7a5wcp13w1] {
    width: 350px;
    background-color: #49505c;
    border-radius: 10px;
    border: 1px solid #ffffff;
    outline: 0;
    padding-left: 10px;
    padding-bottom: 3px;
    
}

.searchbar:focus[b-7a5wcp13w1] {
    border: 1px solid #1aba9f;
}

.searchbar:hover[b-7a5wcp13w1] {
    border: 1px solid #1aba9f;
}

.searchbar[b-7a5wcp13w1]::placeholder {
    color: #ffffff;
}
