@inherits LayoutComponentBase

<div class="page">
    <div class="main" style="width:100%">
        <div>
            <TopBar />
        </div>
        <div class="content px-4" style="width:100%">
            @Body
        </div>
    </div>
</div>

