@page "/About"
<html>

<head>
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <div>
        <img src="Images/logos.png" width="400" height="100">
    </div>
    <p>

        The cooperation between LMU and Jimma University Specialized Hospital has produced the new web-based learning environment for the advanced training of medical staff in the field of neonatology. Students from the Munich University of Applied Sciences help develop the program.
        The prevailing corona pandemic makes it difficult to bring practical knowledge to the doctors on site in Jimma, so the e-learning platform "e-Neo" from the LMU should form a bridge for theoretical learning and practice. We from "e-Neo" were providing a platform on which you not only get the feeling that you are learning something, but also make it a lot of fun of it using. Good luck :)
    </p>
</body>
</html>