.topNav {
    overflow: hidden;
    background-color: #2f3540;
    padding-right: 40px;
    padding-left: 70px;
    position: relative;
    height: 80px;
    text-align: center;
}

.topNav:after {
    visibility:hidden; display:block; content:"" ; clear:both; height:0px;
}

#logoDark {
    float: left;
    padding-top: 12px;
    margin-right: 40px;
    
}

.topNavLinks {
    float: right;
    height: 80px;
}

.topNav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 80px;
    margin: auto;
}

.topNav a:hover {
    background-color: #1aba9f;
    color: black;
}

.searchbar {
    width: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
    outline: 0;
    padding-left: 10px;
    padding-bottom: 3px;
    color: aliceblue;
}


.searchbar:focus {
    border: 1px solid #1aba9f;
}

.searchbar:hover {
    border: 1px solid #1aba9f;
}

.searchbar::placeholder {
    color: #ffffff;
}

#profileButton {
    float: right;
}
