<div class="topNav">
    <img id="logoDark" src="Images/LogoTest.png">
    <div class="searchbarContainer">
        <input class="searchbar" type="search" placeholder="Search..">
    </div>
    <input id="accountCircle" type="image" src="Images/account_circle.svg">
    <div class="topNavLinks">
        <a class="active" href="/">Home</a>
        <a>Library</a>
        <a href="/ForumMainPage">Forum</a>
        <a>Quizes</a>
    </div>
</div>