@page "/ForumMainPage"
<style>


    #top {
        text-align: center;
    }

    #logo-name {
        color: red;
        background-color: white;
        display: inline-block;
        font-size: 32px;
    }

    #navigation a {
        color: gray;
        padding: 8px;
    }

        #navigation a:hover {
            color: red;
        }

    #main {
        text-align: left
    }
</style>
<h1 align="center">Upload Forum</h1>

<div id="top">
    <div id="logo-name">e-Neo</div>
    <div id="image">
        <img src="Images/Logo.png" alt="Logo of e-Neo" />
    </div>
    <div id="navigation">
        <a href="general">General</a>
        <a href="post">Posts</a>
        <a href="upload">Upload</a>
        <a href="top5">Top5</a>
    </div>
    <div id="main">
        <section id="General"> </section>
        <h2>General</h2>
        <p>Hier sollen allgemeine Infos über die Upload Forum Page gegeben werden.</p>

        <section id="Posts"> </section>
        <h2>Posts</h2>
        <p>Hier sollen allgemeine Infos über die Posts der anderen geteilt werden.</p>

        <section id="Upload"> </section>
        <h2>Upload</h2>
        <p>Hier sollen allgemeine Infos über die Upload Forum Page gegeben werden.</p>

        <section id="Top5"> </section>
        <h2>Top5</h2>
        <p>Hier sollen Infos über Top 5 Prinzip gegeben werden.</p>

    </div>
</div>
