@page "/post"
@using SEIIApp.Shared
<h1>Posts</h1>
<div id="navigation">
    <a href="ForumMainPage">Forum</a>
    <a href="upload">Upload</a>
    <a href="top5">Top5</a>
</div>

// categorien Dropdown liste -> 
@code {

    // SEE Quiz Def

    // select post with searchbar // with categories // oder drop down liste der Categorien 

    // set Commentar 

    // giv it a like method 

    // select top 5 likes Post with a method with a link and /


}

