@page "/post"
@using SEIIApp.Shared

<div id="navigation">
    <a href="ForumMainPage">Forum</a>
    <a href="post">Posts</a>
    <a href="upload">Upload</a>
    <a href="top5">Top5</a>
</div>

<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
           aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">search</button>
</div>

@code {

    // Copy Service from Quiz 

    // select post with searchbar // with categories // oder drop down liste der Categorien 

    // set Commentar 

    // giv it a like method 

    // top 5 likes Post with a method with a link and /
}

