@page "/post"
@using SEIIApp.Shared
@inject NavigationManager NavigationManager
@inject SEIIApp.Client.Services.PostServiceAccess PostServiceAccess
    <style>

        #navigation a {
            padding: 8px;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: 0;
            box-shadow: none;
            border: 0 !important;
            background: #5c6664;
            background-image: none;
            flex: 1;
            padding: 0 .5em;
            color: #fff;
            cursor: pointer;
            font-size: 1em;
            font-family: 'Open Sans', sans-serif;
        }

            select::-ms-expand {
                display: none;
            }

        .select {
            position: relative;
            display: flex;
            width: 20em;
            height: 3em;
            line-height: 3;
            background-color: red;
            overflow: hidden;
            border-radius: .25em;
        }

            .select::after {
                content: '\25BC';
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 1em;
                background-color: #F238A6;
                cursor: pointer;
                pointer-events: none;
                transition: .25s all ease;
            }

            .select:hover::after {
                color: #23b499;
            }
    </style>
    <div id="navigation">
        <a href="ForumMainPage">Forum</a>
        <a href="upload">Upload</a>
        <a href="TopFive">Top5</a>
    </div>

    <h1>Posts</h1>
    <div class="select">
        <select name="format" id="format" @onchange=@navigateTo>
            <option selected disabled>Choose a category </option>
            @foreach (String entry in Categories)
            {
                <option value="@entry">@entry</option>
            }
        </select>
    </div>


    @code {
            HashSet<String> Categories = new HashSet<String>();

            PostDto[] posts { get; set; }

            String category;

            public void UpdateCatgeories()        {
                foreach (PostDto p in posts)
                {
                    if (p.Category != null)
                    {
                        Categories.Add(p.Category);
                    }
                }
            }

        // ruft die methoden innerhalb des blockes auf wenn die Seite geladen wird
        protected override async Task OnInitializedAsync()
        {

            posts = await PostServiceAccess.GetAllPosts();
            UpdateCatgeories();
        }

        // mit dem NavigationManager und der onchangemethode wird das event uebergeben
        public void navigateTo(ChangeEventArgs e)
        {
            String selectedString = e.Value.ToString();
            NavigationManager.NavigateTo($"/post/activpost/{selectedString}");
        }

    }


