@page "/upload"
@using SEIIApp.Shared


<h3>Your Upload</h3>
<div id="navigation">
    <a href="ForumMainPage">Forum</a>
    <a href="post">Posts</a>
    <a href="top5">Top5</a>
</div>

@code {


    public PostDto[] posts { get; set; }
    // upload 

    // delete

    // Edit Post 

    // store method 

    // aufbau -> select Categorie 

    // Title 

}
