@page "/upload"
@using SEIIApp.Shared


<h3>Upload</h3>


@code {


    public PostDto[] posts { get; set; }


    // Edit Quiz 

    // store method 



    // aufbau -> select Categorie 
    // Title 

}
