@page "/upload"


@using SEIIApp.Shared
@inject IJSRuntime jsRunTime
@inject NavigationManager NavigationManager
@inject SEIIApp.Client.Services.PostServiceAccess PostServiceAccess

<style>
    #navigation a {
        padding: 8px;
    }
</style>

<div id="navigation">
    <a href="ForumMainPage">Forum</a>
    <a href="post">Posts</a>
    <a href="TopFive">Top5</a>
    <h1>Your Uploads</h1>
</div>

<button class="btn btn-success" style="float:left;margin-right:5px;" @onclick="SavePost">Save</button>


@code {

    public PostDto[] posts { get; set; }

    public PostDto currentPost { get; set; }


    protected override async Task OnInitializedAsync()
    {

        posts = await PostServiceAccess.GetAllPosts();
    }


    private void AddNew()
    {
        currentPost = new PostDto();
    }

    private async void SavePost()
    {
        AddNew();
        currentPost.UserId = 12;
        currentPost.Title = "warummmmmm suckt das so";
        currentPost.Category = "kopf";
        await PostServiceAccess.Save(currentPost);

    }


}
