@using SEIIApp.Shared.ContentDto

<div>
<button @onclick="ToPost" class="previewFountain">
    <div class="thumbnail"></div>
    <div class="title">
        @Content.Title
    </div>
</button>
</div>

@code {
    [Parameter]
    public Content Content { get; set; }

    private void ToPost()
    {
        //TODO add link to post page
    }
}