@using SEIIApp.Shared.ContentDto
@inject NavigationManager NavigationManager

<div>
<button @onclick="ToModule" class="previewFountain">
    <div class="thumbnail"></div>
    <div class="title">
        @Content.Title
    </div>
</button>
</div>

@code {
    [Parameter]
    public Content Content { get; set; }

    private void ToModule()
    {
        NavigationManager.NavigateTo("/course");
    }
}