@using SEIIApp.Shared.ContentDto
@inject NavigationManager NavigationManager

<div>
    <button @onclick="ToModule" class="previewFountain">
        <div class.@Content[i]=<iframe width="250" height="150" src="https://www.youtube.com/embed/C9udNPYVKr8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="title">
            @Content.Title
        </div>
    </button>
</div>

@code {
    [Parameter]
    public Content Content { get; set; }

    private void ToModule()
    {
        NavigationManager.NavigateTo("/course");
    }
}