@using SEIIApp.Shared.Moduldto

<div class="PostPreviewWrapper">
    @if (_contents.Length > RowCount)
    {
        for (var i = 0; i < RowCount * 3; i++)
        {
            <ContentPreview ModulDto="_contents[i]"/>
        }
    }
</div>


@code {
    [Parameter]
    public int RowCount { get; set; }
    
    private ModulDto[] _contents = new ModulDto[] {
        new ModulDto("Der OP"), 
        new ModulDto("Neonatologie"), 
        new ModulDto("Diagnose"),
        new ModulDto("Test 1"),
        new ModulDto("Test 2"),
        new ModulDto("Test 3"),
        new ModulDto("Test 4"),
        new ModulDto("Test 5"),
        new ModulDto("Test 6"),
    };
}