.news_wrapper {
    display: inline-flex;
    margin-right: 300px;
    margin-left: 250px;
}

.news_thumbnail {
    flex: 2;
    width: 400px;
    height: 350px;
    color: #1b1e21;
}

.news_panel {
    flex: 1;
    margin-left: 50px;
}