@using SEIIApp.Client.Shared.Models.Posting
<div class="news_wrapper">
    <button class="news_thumbnail"></button>
    <div class="news_panel">
        <h4 style="margin-bottom: 10px">@Post.Title</h4>
        <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
            sed diam nonumy eirmod tempor invidunt ut labore et dolore 
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam 
            et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
    </div>
</div>
@code {
    [Parameter] 
    public Post Post { get; set; }
}