@using SEIIApp.Client.Shared.Models.Posting

<div class="PostPreviewWrapper">
    @if (_posts.Length > RowCount)
    {
        for (var i = 0; i < RowCount * 3; i++)
        {
            <PostPreview Post="_posts[i]"></PostPreview>
        }
    }
</div>


@code {
    [Parameter]
    public int RowCount { get; set; }
    
    private Post[] _posts = new Post[] {
        new Essay("Der OP"), 
        new Essay("Neonatologie"), 
        new Essay("Diagnose"),
        new Essay("Test 1"),
        new Essay("Test 2"),
        new Essay("Test 3"),
        new Essay("Test 4"),
        new Essay("Test 5"),
        new Essay("Test 6"),
    };
}